#dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #121212;
    color: #fff;
    overflow: hidden;
    #side_bar {
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
        a i {
            font-size: 2rem;
        }
    }
    #content {
        width: 100%;
        height: 100vh;
        padding: 20px;
        background-color: #1b1b1b;
        overflow-y: auto;
    }
}