#dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: $bg-color;
    color: $color;
    overflow: hidden;
    #side_bar {
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
        ul {
            padding: 0px;
            text-align: center;
            li {
                padding-bottom: 15px;
                #clock {
                    color: $brand-color;
                }
            }
        }
        a i {
            font-size: 1.5rem;
            &:hover {
                -webkit-transform: scale(1.1, 1.1);
                -moz-transform: scale(1.1, 1.1);
                -o-transform: scale(1.1, 1.1);
                -ms-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
                color: $brand-color;
                // text-shadow: 0 0px 8px rgba(219, 76, 81, 0.5);
            }
        }
        .high_sidebar{
            li{
                padding-bottom: 30px;
            }
        }
    }
    .dashboard-content {
        width: 100%;
        height: 100vh;
        padding: 20px;
        background-color: $secondary-bg-color;
        border-radius: 20px 0 0 20px;
        overflow-y: auto;
        h1 {
            text-align: center;
        }
        .last-things {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 25px;
            .thing {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 400px;
                height: 80px;
                background-color: $bg-color;
                padding: 20px;
                margin: 5px 10px;
                border-radius: 20px;
                box-shadow: 0 0 8px $color-shadow;
                .thing-info {
                    padding: 0 20px;
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        word-break: break-all;
                        em {
                            font-size: 0.6rem;
                            color: $secondary-color;
                        }
                    }
                }
                & a {
                    color: $brand-color;
                    padding: 10px;
                    border-radius: 7.5px;
                    background-color: $brand-color-shadow;
                }
                &:hover {
                    box-shadow: 0 0 8px $brand-color-shadow;
                    -webkit-transform: scale(1.05, 1.05);
                    -moz-transform: scale(1.05, 1.05);
                    -o-transform: scale(1.05, 1.05);
                    -ms-transform: scale(1.05, 1.05);
                    transform: scale(1.05, 1.05);
                    cursor: default;
                }
            }
        }
        // Route admin.show
        .admin_flat_show {
            p {
                margin: 10px 0;
            }
            .visibility {
                position: fixed;
                top: 20px;
                right: 20px;
            }
        }
        // end Route admin.show
    }
    .charts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
        canvas {
            max-width: 400px;
            max-height: 400px;
            margin: 20px;
        }
    }
}