/* Regola generale da disattivare se non si testano input non formattati*/
// input { border-style: none; background: transparent; outline: none; }
/* INPUT - CHECKBOX*/

/* Per quando si sistemerà il form create ed edit:
    dare al div delle checkbox:
        display: flex;
        align-items: center;
        margin: 5px;
    dare alla label
        margin-left 10px
*/

button {
    background-color: transparent;
	color: #db4c51;
    border: none;
    padding: 0;
    margin: 0;
}

#reply-btn {
    color: #757575;
	border: none;
	margin: 0;
	padding: 0;
    cursor: pointer;
    &:hover {
        color: #db4c51;
    }
}