/* Regola generale da disattivare se non si testano input non formattati*/
input { border-style: none; background: transparent; outline: none; }
/* INPUT - CHECKBOX*/

/* Per quando si sistemerà il form create ed edit:
    dare al div delle checkbox:
        display: flex;
        align-items: center;
        margin: 5px;
    dare alla label
        margin-left 10px
*/

input[type="checkbox"].switch_1{
	font-size: 15px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
    /* Backgroud colore checkbox unckecked */
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
    line-height: 1.5em;
}
  
input[type="checkbox"].switch_1:checked{
    /* Colore checkbox-checked */
	background: #18db49;
}
  
input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
    /* Colore circle */
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
}

/* INPUT - TEXT - DASHBOARD */
// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

// gradient animation
@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow_style_input {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 15px;
	border-radius: 2px;
	padding: 0.7rem 1.2rem;
	background: $input-background;
  	&:after {
		content: "";
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 10;
		height: 2px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background-position: 0% 0%;
		background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
		background-size: 500% auto;
		animation: gradient 3s linear infinite;
  	}
}

.webflow_style_input input {
	color: $input-text-active;
	font-size: 1.4rem;
	line-height: 2.2rem;
	&::-webkit-input-placeholder {
		color: $input-text-inactive;
	}
}
