* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

input, textarea { border-style: none; background: transparent; outline: none; }

ul li {
    list-style: none;
}

a {
    color: #757575;
    text-decoration: none;
}

// canvas {
//     max-width: 400px;
//     max-height: 400px;
//     margin: 20px;
//     padding: 20px;
//     border-radius: 20px;
//     border: 1px solid #757575;
// }

table{
    box-shadow: 0 0 8px rgba(192,192,192, 0.05);
    background-color: #121212;
    border-radius: 20px;
    max-height: 600px;
    margin: auto;
    thead tr th,
    tbody tr td {
        margin: 0;
        padding: 20px;
        word-break: break-all;
    }
    thead tr th {
        border-bottom: 1px solid #db4c51;
    }
    tbody tr td {
        font-size: 0.7rem;
        a:hover {
            color: #db4c51;
        }
    }
}

.input-services {
    display: flex;
    flex-wrap: wrap;
}

.visibility-on {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}
.visibility-off {
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
}

.show_item{
    display: block;
}
.hidden_item{
    display: none;
}

.not-usable {
    cursor: not-allowed;
}

.ck-editor {
    color: #db4c51;
}