ul li {
    list-style: none;
}

a {
    color: #555555;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}


.show_item{
    display: block;
}

.hidden_item{
    display: none;
}
