* { box-sizing: border-box; margin: 0; padding: 0; }

body, * {
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

input,
textarea {
    border-style: none;
    background: transparent;
    outline: none;
}
textarea {
    padding: 10px;
}

ul li { list-style: none; }

a {
    text-decoration: none;
    color: $secondary-color;
}

.create_flat_dashboard{
    color: #ffff;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}


table{
    box-shadow: 0 0 8px $color-shadow;
    background-color: $bg-color;
    border-radius: 20px;
    width: 1400px;
    margin: auto;
    thead tr th,
    tbody tr td {
        margin: 0;
        padding: 15px;
        font-size: 1rem;
        word-break: break-all;
    }
    thead tr th {
        border-bottom: 1px solid $brand-color;
        font-size: 1.2rem;
    }
    tbody tr td {
        a:hover {
            color: $brand-color;
        }
    }
    }

.visibility-on {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}
.visibility-off {
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
}

.show_item{
    display: block;
}
.hidden_item{
    display: none;
}

.not-usable {
    cursor: not-allowed;
}

.ck-editor {
    color: $brand-color;
}

[v-cloak] { // serve a non visualizzare le {{ }} con vue al caricamento della pagina
    display: none;
}

.invalid-feedback{
    color: rgb(148, 148, 148);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}