// Admin
.admin-form {
    font-size: 1.3rem;
	margin-top: 50px;

	.box_input_details {
		margin-bottom: 40px;
		display: flex;
		.admin-form-inputs{
			flex-basis: calc(100% / 5);
			display: flex;
			justify-content: center;
			input{
				width: 98%;
			}
		}
		@media screen and (max-width: 600px){
			& {
				display: block;
			}
		}
	}

	.box_input_address {
		display: flex;
		.admin-form-inputs{
			width: 50%;
			i {
				margin-left: 20px;
			}
			input{
				width: 90%;
			}
			&:last-child {
				display: flex;
				justify-content: flex-end;
			}
		}
		@media screen and (max-width: 1050px) {
			& {
				display: block;
				.admin-form-inputs{
					width: 100%;
					label {
						margin-left: 10px;
					}
					&:last-child {
						display: block;
						input {
							width: 100%;
						}
					}
				}
			}
		}
		@media screen and (max-width: 600px){
			& {
				display: block;
				.admin-form-inputs{
					width: 100%;
					input {
						width: 80%;
					}
					&:last-child {
						display: block;
						input {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.box_input_check {
		display: flex;
		margin-bottom: 20px;
		.admin-form-inputs{
			flex-basis: calc(100% / 4);
			display: flex;
			justify-content: center;
			input{
				width: 98%;
			}
		}
		@media screen and (max-width: 600px){
			&{
				flex-wrap: wrap;
				.admin-form-inputs{
					flex-basis: calc(100% / 2);
				}
			}
		}
	}

	.flex_overview_services{
		display: flex;
		.overview_form {
			width: 65%;
			margin-right: 5%;
			textarea {
				width: 100%;
				font-size: 1.1rem;
			}
		}
	
		.box_checkbox_services{
			width: 25%;
			.service_form{
				display: flex;
				label {
					margin-left: 10px;
					font-size: 1rem;
				}
				.service_one{
					display: flex;
					align-items: center;
				}
			}
		}
		@media screen and (max-width: 900px) {
			&{
				display: block;
				.overview_form{
					width: 100%;
				}
				.box_checkbox_services{
					width: 100%;
				}
			}
		}
	}

	.bottom_form{
		display: flex;
		margin-bottom: 20px;
		.image_upload{
			label {
				display: block;
				font-size: 1rem;
				margin-left: 5px;
			}
			img {
				margin-left: 5px;
			}
			@media screen and (max-width: 500px) {
				& {
					input {
						width: 215px;
					}
				}
			}
		}
		.visibility_form{
			margin-left: 100px;
			display: flex;
			align-items: center;
			label {
				margin-left: 10px;
				font-size: 1rem;
			}
		}
		@media screen and (max-width: 900px){
			&{
				display: block;
				.visibility_form{
					margin-left: 0;
					margin-top: 20px;
				}
			}
		}
	}

	.submit_form_button{
		font-size: 1.2rem;
		background-color: #db4c51c9;
		color: white;
		border-radius: 20px;
		padding: 10px 15px;
		@media screen and (max-width: 400px) {
			& {
				font-size: 1rem;
				
			}
		}
	}

    .admin-form-inputs {
		.title_input {
			width: 100%;
		}
		input {
			font-size: 17px;
			&::placeholder{
				font-size: 1.1rem;
				@media screen and (max-width: 400px) {
					& {
						font-size: 0.8rem;
					}
				}
			}
		}

        input:not([type="checkbox"]),
        textarea {
            background-color: #121212;
            caret-color: #db4c51;
            color: #fff;
            margin: 10px 0;
            padding: 20px;
            border: none;
            border-radius: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
	        appearance: none;
            &:hover:not(.not-usable),
            &:active:not(.not-usable),
            &:focus:not(.not-usable) {
                box-shadow: 0 0px 8px rgba(219, 76, 81, 0.2);
            }
        }
        textarea {
            height: 200px;
        }
        // Remove ugly arrows from input type number
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button,
        input[type=number] {
            -moz-appearance: textfield;
            -webkit-appearance: none;
        }
        // Remove ugly button from input type file
        ::-webkit-file-upload-button {
            display: none;
        }
        img {
            height: 150px;
            margin-top: 20px;
        }
    }
}




// Switch toggle
input[type="checkbox"].switch_1{
	font-size: 15px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
    /* Backgroud colore checkbox unckecked */
	background: #757575;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
    line-height: 1.5em;
	margin: 10px 0;
}
  
input[type="checkbox"].switch_1:checked{
    /* Colore checkbox-checked */
	background: #db4c51;
}
  
input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
    /* Colore circle */
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
}

/* INPUT - TEXT - DASHBOARD */
// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

// gradient animation
@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow_style_input {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 10px;
	border-radius: 2px;
	padding: 0.6rem 1.1rem;
	background: $input-background;
  	&:after {
		content: "";
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 10;
		height: 2px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background-position: 0% 0%;
		background: linear-gradient(to right, #B294FF, #db4c51, #FEFFB8, #db4c51, #B294FF, #db4c51);
		background-size: 500% auto;
		animation: gradient 3s linear infinite;
  	}
}

.webflow_style_input input {
	color: $input-text-active;
	font-size: 1.4rem;
	line-height: 2.2rem;
	&::-webkit-input-placeholder {
		color: $input-text-inactive;
	}
}