.big_box_search {

    display: flex;
    flex-direction: column;
    justify-content: center;

    .box_search_inputs {

        // background-color: lightcoral;
        background-color: #f7f7f7;//colore del footer
        padding: 20px;
        margin: 20px 20px;
        border-radius: 20px;
        border: 2px solid #DD585D;
        display: flex;
        flex-direction: column;

        .box_select_radius {

            h1 {
                text-align: center;
                margin-bottom: 20px;

                @media screen and (max-width: 640px) {
                    & {
                        font-size: 30px;
                    }
                }

                @media screen and (max-width: 450px) {
                    & {
                        font-size: 26px;
                    }
                }

                @media screen and (max-width: 360px) {
                    & {
                        font-size: 24px;
                    }
                }
            }

            margin: 10px 10px;
            .action_radius {

                display: flex;
                align-items: center;
                flex-wrap: wrap;

                @media screen and (max-width: 640px) {
                    & {
                        flex-direction: column;
                    }
                }

                .select_radius {
                    display: flex;
                    margin: 20px 0px;

                    li:first-child {
                        margin-right: 20px;
                    }

                    li {
                        padding: 10px;
                        background-color: #DD585D;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;
                    }
                }//select_radius

                h2 {
                    margin-left: 20px;

                    @media screen and (max-width: 750px) {
                        & {
                            font-size: 16px;
                        }
                    }
                }
            }//action_radius
        }//box_select_radius




        .advanced_research {

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (max-width: 1100px) {
                & {
                    justify-content: space-around;
                }
            }

            .box_research {
                margin: 0px 10px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;




                input {
                    border: 2px solid #DD585D;
                    border-radius: 20px;
                    padding: 10px 20px;
                    background-color: #fff;
                    width: 100%;
                }
            }//box_research

            .box_bigger {
                flex-grow: 10;
                min-width: 50%;

                @media screen and (max-width: 1100px) {
                    & {
                        min-width: 100%;
                    }
                }

                input {
                    width: 100%;
                }
            }


        }//fine advanced_research

        .button_end_box {
            display: flex;
            justify-content: center;
            align-items: center;
        }



    }//fine box_search_inputs

    .advance_search_results {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        a.box_searched_item {
            height: 300px;
            box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
            position: relative;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            flex-basis: calc(100% / 4 - 40px);

            @media screen and (max-width: 1400px){
                &{
                    flex-basis: calc(100% / 3 - 40px);
                }
            }
            @media screen and (max-width: 1100px){
                &{
                    flex-basis: calc(100% / 2 - 40px);
                }
            }
            @media screen and (max-width: 700px){
                &{
                    flex-basis: calc(100% - 40px);
                }
            }

            img {
                object-fit: cover;
                height: 65%;
                width: 100%;
                border-radius: 10px;
            }

            h2{
                font-size: 16px;
                padding: 0px 10px;
                color: black;
            }

            h3 {
                font-size: 14px;
                padding: 0px 10px;

            }

            .more_info {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 10px;
            }

            .show_price {
                position: absolute;
                left: 5px;
                top: 5px;
                background-color: #fff;
                padding: 5px;
                border-radius: 5px;
                border: 0.5px solid #DD585D;
            }

            .sponsor_layover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: rgb(253, 253, 253);
                font-weight: bold;
                padding: 40px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                display: none;
                span {
                    display: block;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover .sponsor_layover {
                display: block;
                cursor: pointer;
            }

        }

    }

}
