#dashboard .dashboard-content {
    .admin-flat-show {
        .visibility {
            position: fixed;
            top: 20px;
            right: 20px;
        }
        h1.title {
            text-align: left;
            margin-bottom: 10px;
        }
        img {
            object-position: center 75%;
            object-fit: cover;
            width: 100%;
        }
    }
}