$primary_form_create_edit:#ff3e58;
$secondary_form_create_edit: #38ef7d;
$white_form_create_edit: #fff;
$white_label: #f8f8f8;
$gray_form_create_edit: #9b9b9b;

.box_form{
  width: 50%;
}

.padding_form {
  padding: 20px 0;
}

.input_bg {
    background-color: #2f3438;
    border-radius: 50px;
    margin: 10px 0;
}

.form_create_edit {
  position: relative;
  padding: 10px 0;
  width: 50%;

    .form_input {
        width: 100%;
        border: 0;
        font-size: 1.3rem;
        color: $white_form_create_edit;
        padding: 7px 20px 7px 120px;
        transition: border-color 0.2s;

        &.not {
          padding: 7px 0;
          font-size: 1rem;
        }

        &:focus {

            ~ .form_label {
              display: block;
              transition: 0.2s;
              color: $primary_form_create_edit;
              font-weight:700;    
            }
        }

        /* Reset input error */
        &:required,&:invalid { box-shadow:none; }
    }
    
    .form_label {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      display: block;
      transition: 0.2s;
      font-size: 1.2rem;
      color: $gray_form_create_edit;
    }
}

.form_flex {
  display: flex;
  flex-wrap: wrap;
  width: 37%;
}