$primary_form_create_edit:#11998e;
$secondary_form_create_edit: #38ef7d;
$white_form_create_edit: #fff;
$gray_form_create_edit: #9b9b9b;

.form_create_edit {
  position: relative;
  padding: 15px 0 0;
  width: 50%;

    .form_input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray_form_create_edit;
        font-size: 1.3rem;
        color: $white_form_create_edit;
        padding: 7px 0;
        transition: border-color 0.2s;
      
        &::placeholder {
        color: transparent;
        }
  
        &:placeholder-shown ~ .form_label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
        }

        &:focus {

            ~ .form_label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: $primary_form_create_edit;
              font-weight:700;    
            }

            padding-bottom: 6px;  
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary_form_create_edit,$secondary_form_create_edit);
            border-image-slice: 1;
        }

        /* Reset input error */
        &:required,&:invalid { box-shadow:none; }
    }
    
    .form_label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray_form_create_edit;
    }
}
